.content_ {
    background-color: #ff9148;
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

p{
    float: left;
}

.description{

    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
}

.confirm{
    cursor: pointer;
    background-color: #5260ff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    transition-duration: 500ms;
}

.confirm:hover{
    background-color: #2c3eff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

table{
    color: white;
    width: 30%;
    float: left;
    margin-left: 80px;
    margin-right: 80px;
    font-size: x-large;
    border-top: none;
    border-bottom: 1px solid white;
}

.content {
    border-radius: 10px;
    display: flex;
    margin-top: 10px;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 1000px;
    flex-direction: column;
    /*align-items: center;*/
    background-color: #ff8533;
    font-size: medium;

}

@media screen and (max-width: 575px) {
    svg#rocket-smoke {
    display: none;
    visibility: hidden;
}
}