<ng-template #content let-modal>

  <div class="modal-header">
    <h4 class="modal-title">Datos administrador</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Ingrese los datos del administrador para eliminar este producto:
    <br> <br>
    <table>
      <tr>
        <td rowspan="2" width="30%"><img src="{{imgPro}}" alt="Imagen del producto" width="100%"></td>
        <td>
          <h4> {{nombrePro}} </h4>
        </td>
      </tr>
      <tr>
        <td><strong><label id="valor">Valor: $ {{valorPro | number}} </label></strong></td>
      </tr>
    </table>
    <form (ngSubmit)="deletePro()">
      <br>
      <p>Usuario:
        <input type="text" [(ngModel)]="adminUser" name="adminUser">
      </p>
      <p>
        Contraseña:
        <input type="password" [(ngModel)]="adminPass" name="adminPass">
      </p><br>
      <ngb-alert id="error" (close)="cerrar('error')">
        {{alertMessage}}
      </ngb-alert>
      <button type="button" class="cancel" (click)="modal.close()">Cancelar</button>
      <button class="delete" type="submit">Borrar producto</button>
    </form>

  </div>


</ng-template>

<ng-template #addProduct let-modal>

  <div class="modal-header">
    <h4 class="modal-title">Producto nuevo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Ingrese los datos el <b>Producto Nuevo</b>
    <br> <br>
    <form (ngSubmit)="newProduct()">
      <br>
      <p>Nombre:
        <input type="text" [(ngModel)]="newName" name="newName">
      </p>
      <p>
        Precio:
        <input type="number" [(ngModel)]="newPrice" name="newPrice">
      </p>
      <p>
        Imagen:
        <input type="text" [(ngModel)]="newImg" name="newImg">
      </p>
      <br>
      <ngb-alert id="error" (close)="cerrar('error')">
        {{alertMessage}}
      </ngb-alert>
      <button type="button" class="cancel" (click)="modal.close()">Cancelar</button>
      <button class="delete" type="submit">Agregar producto</button>
    </form>

  </div>


</ng-template>

<div class="addPro">
  <a (click)="addPro(addProduct)" class="addButton"> Agregar producto </a>
</div>

<div class="content" id="content" role="main">

  <ngb-alert id="ok" (close)="cerrar('ok')">
    {{alertMessage}}
  </ngb-alert>

  <br>
  <h1>Productos</h1>

  <table class="table table-striped">
    <tr>
      <th>Imagen</th>
      <th>ID Producto</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
    <tr *ngFor="let list of info">
      <td width="50px"> <img src="{{list.img}}" alt="Product Img" width="100px"> </td>
      <td> {{list.codigo}} </td>
      <td> {{list.nombre}} </td>
      <td> $ {{list.valor | number}} </td>
      <td style="display: flex; align-items: center;">
        <label>
          <a (click)="updatePro(list.codigo)">Actualizar</a> <br><br>
          <a (click)="openModal(list.codigo,list.nombre,list.valor,list.img,content)">Eliminar</a>
        </label>
      </td>
    </tr>
  </table>

</div>