.content {
    border-radius: 10px;
    display: flex;
    margin-top: 10px;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 1000px;
    flex-direction: column;
    align-items: center;
    background-color: #ff8533;

}

p{
    font-size: xx-large;
    font-family: 'Consolas';
}