<ion-header>
  <ion-toolbar color="secondary">
    <ion-button slot="start" fill="clear" (click)="volver()" color="light">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Confirmar pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <ion-card>
    <ion-card-title class="ion-text-center">Resumen del pedido</ion-card-title>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <ion-list *ngFor="let a of arrayCod">
            {{a}}
          </ion-list>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-list *ngFor="let b of arrayPre">
            $ {{b | number}}
          </ion-list>
        </ion-col>
        <ion-col size="2">
          <ion-list *ngFor="let c of arrayCod">

            <ion-icon name="close-circle" color="danger" (click)="borrar(c)" ></ion-icon>

          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="ion-margin-top">
    <ion-item>
      <b>TOTAL:</b>
      <ion-label class="ion-text-center">$ {{suma | number}}</ion-label>
    </ion-item>
  </ion-card>
  <ion-button (click)="envPedido()" color="secondary" id="pedir">¡Pedir!</ion-button>

  <br>
  <img src="assets/img/iconAzul.jpeg">
</ion-content>