#pedir{
    margin: auto;
    display: block;
    max-width: 40% !important;
}
img{
    max-width: 60%;
    display: block;
    margin: auto;
}

ion-list{
    font-size: large;
    font-weight: 50;
    color: black;
}

.cancel{
    max-width: 100px !important;
}