.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  display: flex;
  align-items: center;
  background-color: #ff8533;
  font-weight: 600;
  font-size: xx-large;

}

.toolbar img {
  margin: 0 16px;
}

/* The sidebar menu */
.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #ff8533;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
  border-right: 2px solid white;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #5260ff;
  cursor: pointer;
}

.logout {
  width: 30px;
  color: white;
  font-size: x-large;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #5260ff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.openbtn:hover {
  background-color: #7b86ff;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  /* If you want a transition effect */
  padding: 20px;
}

.modal-header,
.modal-footer {
  background-color: #ff8533;
  font-size: x-large;
}

.delete {
  background-color: #ff8533;
  float: right;
  color: white;
  border-radius: 3px;
  border: 2px solid white;
  font-size: large;
  padding: 2px 20px;
  transition-duration: 0.3s;
}

.delete:hover {
  background-color: rgb(255, 80, 80);
}

input {
  float: right;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid #ff8533;
  width: 60%;
}

.cancel {
  float: left;
  color: white;
  background-color: #5260ff;
  border-radius: 3px;
  border: 2px solid white;
  font-size: large;
  padding: 2px 20px;
  transition-duration: 0.3s;
}

.cancel:hover {
  color: #ff8533;
  background-color: white;
}

.arqueoP {
  font-size: xx-large;
  font-family: 'Consolas';
}

.modal-body {
  background-color: #5260ff;
  padding: 50px;
  font-size: large;

}

.dropDown {
  background-color: #ff8533;
  float: right;
  color: white;
  border-radius: 3px;
  border: 2px solid white;
  font-size: large;
  padding: 2px 20px;
  transition-duration: 0.3s;
}

.dropDown:hover {
  background-color: white;
  color: #ff8533;
}

table{
  color: white;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}
