<div class="toolbar" role="banner">
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a><br><br>
        <a href="#" (click)="closeNav()">Pedidos pendientes</a>
        <a routerLink="/orden-ok" (click)="closeNav()">Pedidos sin recoger</a> 
        <a routerLink="/arqueo" (click)="closeNav()">Arqueo de caja</a> 
        <a routerLink = "/producto" (click)="closeNav()">Menejo de productos</a>
    </div>
      
    <div id="main">
        <button class="openbtn" (click)="openNav()">&#9776;</button>
    </div> 
    <img src="../assets/img/largoNaranja.jpeg" width="195" alt="U-Coffee Logo" >
  </div>

<router-outlet></router-outlet>