.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 1000px;
  flex-direction: column;
  align-items: center;
  background-color: #ff8533;
  font-size: large;
  border-radius: 10px;
}

table{
  color: white;
  margin-top: 20px;
  border-bottom: 1px solid white;
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}