<div class="content" role="main">

  <table class="table table-striped">
    <tr>
      <th>N° Factura</th>
      <th>Cliente</th>
      <th>Descripción</th>
      <th>Total</th>
      <th>Alistar pedido</th>
    </tr>
    <tr *ngFor="let list of varData">
      <td width="150px"> {{list.idFactura}} </td>
      <td> {{list.nombre}}&nbsp;{{list.apellido}} </td>
      <td> {{list.descripcion}} </td>
      <td> $ {{list.total | number}} </td>
      <td width="150px">
        <a (click)="sendInfo(list.nombre,list.apellido,list.descripcion,list.total,list.idFactura)">
          <img src="assets/img/play.png" alt="Alistar Pedido" width=30>
        </a>
      </td>
    </tr>
  </table>

</div>