<div class="content" role="main" hidden id="content">

  <table class="table table-striped">
    <tr>
      <th>N° Factura</th>
      <th>Cliente</th>
      <th>Descripción</th>
      <th>Total</th>
      <th>Pedido entregado</th>
    </tr>
    <tr *ngFor="let list of varData">
      <td width="150px"> {{list.idFactura}} </td>
      <td> {{list.nombre}}&nbsp;{{list.apellido}} </td>
      <td> {{list.descripcion}} </td>
      <td> $ {{list.total | number}} </td>
      <td width="150px">
        <a (click)="giveOrder(list.idFactura,list.total)">
          <img src="assets/img/play.png" alt="entregar" width=30>
        </a>
      </td>
    </tr>
  </table>
</div>

<div class="no-info" id="no-info" hidden>
  <img src="/assets/img/triste.png" width="200px"> <!--se debe cambiar po el logo-->
  <p>No hay pedidos pendientes</p>
</div>