<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Ingreso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div class="content">
    <form (ngSubmit)="logIn()">

      <ion-card>
        <ion-item>
          <ion-input placeholder="Correo" [(ngModel)]="correo" expand="full" name="correo"></ion-input>
        </ion-item>
      </ion-card>
      <br>
      <ion-card>
        <ion-item>
          <ion-input placeholder="Contraseña" [(ngModel)]="contra" type="password" expand="full" name="contra"></ion-input>
        </ion-item>
      </ion-card>
      <br>
      <ion-button type="submit" color="secondary" expand="block">Ingresar</ion-button><br>
      <ion-button color="secondary" expand="block" [routerLink]="['/registro']">¡Regístrate!</ion-button>

    </form>
  </div>
</ion-content>